* {
    line-height: 1.5;
    padding: 0;
    margin: 0;
    color: #212529;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

code {
    color: darkblue;
    font-family: "Lucida Console", Arial, Helvetica, sans-serif;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

footer {
    margin-top: 200px;
}

#welcome-to-the-is-a-dev-maintainer-documentation- {
    font-size: clamp(19px, 6vw, 50px);
}

.link {
    max-width: 100%;
    max-height: 100%;
    margin: 10px;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 25px;
}

.text-center {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.maintainer {
    padding: 20px;
}

.maintainer span {
    clear: both;
    display: block;
}

.maintainer img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: inline-block;
}
