@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Mono&display=swap");

.container {
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100vw;
    overflow-x: hidden;
}

#links {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.link {
    font-size: 26px;
    display: block;
    margin: 20px 0;
}

h2 {
    margin-top: 100px;
}

#team {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7.5px;
    flex-wrap: wrap;
}

.member {
    width: 150px;
    height: 100px;
}

.member a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member > a > img {
    width: 75px;
    height: 75px;
    border-radius: 100px;
}
