@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Mono&display=swap");

.container {
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100vw;
    overflow-x: hidden;
}

#links {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.link {
    font-size: 26px;
    display: block;
    margin: 5px;
}

h2 {
    margin-top: 100px;
}

#team {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7.5px;
    flex-wrap: wrap;
}

.member {
    width: 150px;
    height: 100px;
}

.member a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member > a > img {
    width: 75px;
    height: 75px;
    border-radius: 100px;
}

.guides {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 0px;
    height: 225px;
}

.guides > div {
    width: 200px;
    height: 275px;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0px 7px 13px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0px 7px 13px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 7px 13px 0px rgba(0,0,0,0.35);
}

h3 {
    font-size: 26px;
}